# 预提交检查配置
# .pre-commit-config.yaml
#
# 使用方法:
#   pip install pre-commit
#   pre-commit install
#   pre-commit run --all-files
#
# 或者通过 Make:
#   make pre-commit

repos:
  # 代码格式化 - Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.10
        args: ["--line-length", "120"]

  # Import 排序 - isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "120"]

  # 代码检查 - flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120", "--exclude=.git,__pycache__,docs,source,build,dist,venv,.venv"]
        additional_dependencies:
          - flake8-broken-line
          - flake8-isort

  # 类型检查 - mypy (可选，注释掉以加快 pre-commit 速度)
  # - repo: https://github.com/python/mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       args: ["--python-version=3.10", "--ignore-missing-imports"]
  #       exclude: ^tests/

  # 检查尾随空白
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=5000"]
      - id: check-merge-conflict
      - id: check-toml
